<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        body{padding-top:70px;}
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">ERP System</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a>{{user.username}} 님 환영합니다.</a></li>
                <li><a href="{%url 'logout'%}">로그아웃</a></li>
                {% else %}
                <li><a href="{%url 'login'%}">로그인</a></li>
                <li><a href="{%url 'signup'%}">회원가입</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

현황입니다

</body>